.about-us-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.middle-content h2 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  width: fit-content;
  margin-left: 35%;
  text-decoration: underline;
}

.middle-content p {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  width: fit-content;
  margin: 15px;
}

.left-photo img {
  width: 410px;
  object-fit: cover;
  height: 442px;
  margin-bottom: 9px;
  margin-left: -25px;
}

.right-photo img {
  margin-top: 42px;
  height: 443px;
  object-fit: cover;
  margin-right: -130px;
  width: 410px;
}

/* Media Queries */
@media (max-width: 767px) {
  /* Styles for small screens */
  .middle-content h2 {
    margin-left: 50px;
  }

  .left-photo img,
  .right-photo img {
    width: 100%;
    height: 400px;
  }
}