.contact-us-container {
    display: flex;
    background-color: #ff9d5723;
    flex-direction: column;
    height: 62vh;
    font-family: 'Times New Roman', Times, serif;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
    margin-left: 15px;
  }

  .form-section h3 {
    margin-bottom: 24px;
  }
  
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65%;
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-statement {
    font-size: 15px;
    margin-bottom: 14px;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 18px;
    margin-bottom: 8px;
    width: 70%;
    border: 1px #424242;
  }

  input::placeholder {
    color: rgb(109, 108, 108);

  }
  
  button {
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #ff964c;
    color: white;
    border: none;
    transition: background-color 0.3s;
    width: 20%;
  }
  
  button:hover {
    background-color: #9f4603e2;
  }
  
  .phone-section {
    margin-top: 13px;
    font-size: 17px;
  }

  .success-message {
    font-size: 18px;
    color: rgba(164, 54, 7, 0.838);
    margin-top: 10px;
    
  }
