.contact-us-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .photo-section {
    flex: 1;
    overflow: hidden;
  }
  
  .photo-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: silver;
  }
  
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .form-statement {
    font-size: 18px;
    margin-bottom: 16px;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 18px;
    margin-bottom: 8px;
    width: 70%;

  }

  input::placeholder {
    color: grey;

  }
  
  button {
    padding: 8px;
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(241, 119, 4);
    color: white;
    border: none;
    transition: background-color 0.3s;
    width: 20%;
  }
  
  button:hover {
    background-color: rgb(128, 127, 121);
  }
  
  .phone-section {
    margin-top: 20px;
    font-size: 25px;
    text-decoration: underline;
  }

  .success-message {
    font-size: 30px;
    color: green;
    margin-top: 10px;
  }
